In [11]:
import psycopg2
import pandas as pd

In [12]:
hostname = '**.***.***.**'
database = '****'
username = '****'
password = '****'
port = ****

conn = psycopg2.connect(
            host=hostname,
            dbname=database,
            user=username,
            password=password,
            port=port
)

cur = conn.cursor()

execute_script = ''' SELECT client, batch, pass FROM anc_stats_record'''

cur.execute(execute_script)
data = cur.fetchall()

In [13]:
cols = []
for elt in cur.description:
  cols.append(elt[0])


data = pd.DataFrame(data=data, columns =cols)

In [14]:
data

,client,batch,pass
0,P1_62049_002_JAWG_KEY,Sd_62049.IMG.002_62049_314054001181_0434_M1_004,Key
1,P1_62049_002_KSWG_KEY,Sd_62049.IMG.002_62049_62021000438_0886_M2_002,Key
2,P2_Haiti-001_PH,Sd_103983697_M-G_001,Key
3,P48551_Transfer_YJWG_V2,Sd_48551_b413622_Bur-G_003,Key
4,P7488.IDX.007_Transfer_BG,Sd_T715_4748_Alien-PT1_004,Key
...,...,...,...
18118681,P1_61596-003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key
18118682,P1_61596-003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key
18118683,P1_61596-003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key
18118684,P1_60892-001_VZ_Classification,Bd_60892.IDX.001_44758_N2546857_0132,FCQC
18118685,P1_60892-001_VZ_Key,Sd_60892.IDX.001_44758_N2546857_0267_Tract Boo...,Key

In [15]:
#data = data[data['client'].str.startswith('P1_')]

In [17]:
#pass_list = ['Key', 'Core_QCLA', 'QCLA']
#testing = ['Classfication', 'test', 'Test', 'P1_62269.IDX.013_PH_Test']

#data = data[data['pass'].isin(pass_list)]
#data = data[~data['client'].isin(testing)]

to_exclude = ['jiapu', 'haiti', 'yueyu']
for ex in to_exclude:
    data = data[data['client'].str.lower().str.contains(ex)==False]

In [18]:
#remove = ['P1_90', 'P1_62306', 'P1_62281', 'P1_62266', 'P1_7619', 'P1_62049', 'P1_62025', 'P1_62005', 'P1_61885',
          #'P1_61607', 'P1_1499', 'P1_48520', 'P1_5246', 'P1_61634', 'P1_61799']

#for i in remove:
    #data = data[~data['client'].astype(str).str.startswith(i)]

data['client'] = data['client'].str.replace('-','_').replace('P1_9088_CN_KSWGNew_Key', 'P1_9088_CN_KSWG_Key').replace('_New','')

data['Project Name'] = data['client'].apply(lambda x: "_".join(x.split('_',2)[:2]))
data['Project Name'] = data['Project Name'].str.replace('P1_', 'P')

In [19]:
data

,client,batch,pass,Project Name
0,P1_62049_002_JAWG_KEY,Sd_62049.IMG.002_62049_314054001181_0434_M1_004,Key,P62049
1,P1_62049_002_KSWG_KEY,Sd_62049.IMG.002_62049_62021000438_0886_M2_002,Key,P62049
3,P48551_Transfer_YJWG_V2,Sd_48551_b413622_Bur-G_003,Key,P48551_Transfer
4,P7488.IDX.007_Transfer_BG,Sd_T715_4748_Alien-PT1_004,Key,P7488.IDX.007_Transfer
5,P48491_Transfer_KSWG,Sd_48491_b410806_Mar-G_005,Key,P48491_Transfer
...,...,...,...,...
18118681,P1_61596_003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key,P61596
18118682,P1_61596_003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key,P61596
18118683,P1_61596_003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key,P61596
18118684,P1_60892_001_VZ_Classification,Bd_60892.IDX.001_44758_N2546857_0132,FCQC,P60892
18118685,P1_60892_001_VZ_Key,Sd_60892.IDX.001_44758_N2546857_0267_Tract Boo...,Key,P60892

In [20]:
data['Text_Split'] = data['batch'].str.split("_").str[1]

In [21]:
data

,client,batch,pass,Project Name,Text_Split
0,P1_62049_002_JAWG_KEY,Sd_62049.IMG.002_62049_314054001181_0434_M1_004,Key,P62049,62049.IMG.002
1,P1_62049_002_KSWG_KEY,Sd_62049.IMG.002_62049_62021000438_0886_M2_002,Key,P62049,62049.IMG.002
3,P48551_Transfer_YJWG_V2,Sd_48551_b413622_Bur-G_003,Key,P48551_Transfer,48551
4,P7488.IDX.007_Transfer_BG,Sd_T715_4748_Alien-PT1_004,Key,P7488.IDX.007_Transfer,T715
5,P48491_Transfer_KSWG,Sd_48491_b410806_Mar-G_005,Key,P48491_Transfer,48491
...,...,...,...,...,...
18118681,P1_61596_003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key,P61596,61596.IDX.003
18118682,P1_61596_003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key,P61596,61596.IDX.003
18118683,P1_61596_003_ID_Key,Sd_61596.IDX.003_I2254270_Register_003,Key,P61596,61596.IDX.003
18118684,P1_60892_001_VZ_Classification,Bd_60892.IDX.001_44758_N2546857_0132,FCQC,P60892,60892.IDX.001
18118685,P1_60892_001_VZ_Key,Sd_60892.IDX.001_44758_N2546857_0267_Tract Boo...,Key,P60892,60892.IDX.001

In [22]:
data.to_csv("D:/anc_stats_record_clean.csv")

In [23]:
data_unique = data.Text_Split.unique()
data_unique = pd.DataFrame(data_unique)

In [24]:
data_unique.to_csv("D:/data_unique.csv")